<header class="position-fixed top-0" style="z-index: 100; width: 100%;">
  <nav class="navbar navbar-light py-0" style="background-color: #bce0fa; height: 50px;">
    {{#if user}}
    <div class="container-fluid px-5">
      <a class="navbar-brand fw-bold" href="/"><i class="fa-solid fa-house"></i></a>
      <p class="fw-bold fs-5 m-0">{{user.name}}的單字筆記本</p>
      <a href="/logout"><button class="btn btn-outline-primary my-sm-0 my-2">Logout</button></a>
    </div>
    {{/if}}
  </nav>
</header>