<header>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/">Home</a>
      <a href="/logout"><button class="btn btn-outline-primary my-sm-0 my-2">Logout</button></a>
    </div>
  </nav>
</header>